/*FUENTE ELEGIDA*/
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka+One&family=Lobster&display=swap');

/*RESETEO*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62,5;
}

/***** PLANTEL *****/

.subA {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    color: red;
}

.subB {
    font-family: 'Anton', sans-serif;
    color: darkblue;
    text-transform: uppercase;
}

.subC {
    font-family: 'Anton', sans-serif;
    color: red;
    text-transform: uppercase;
}

.img-fluid {
    width: 200px;
    display: inline;

}

/***********  ESTILO DE LA BARRA DE NAVEGACION Y DEL MENU DE HAMBURGUESA      **************/
.navbar-brand {
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar-brand :hover {
    background-color: red;
    transition: background-color 1s;
    color: darkblue;
}



.navegation :hover {
    background-color: red;
    transition: background-color 1s;
    color: darkblue;
}


.nav-link {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    color: white;
}

.navbar {
    background-color: darkblue;
}

/**************  ESTILO DEL FOOTER     ********************/

.pie {
    background-color: darkblue;
}

.redes {
    width: 30px;
}

.text-pie {
    color: white;
}

.btn-outline-success {
    color: white;
    font-family: 'Anton', sans-serif;
    border: none;
    background: none;
}

.btn-outline-success:hover {
    color: red;
    transition: background-color 1s;
}

.navbar-toggler {
    background-color: none;
    border: none;
}

.navbar-toggler-icon {
    background-image: url(../img/cuervo.png);
    color: red;
    border: none;
    background-color: none;
}

/*********** ESTILO DE FIXTURE(INCOMPLETO)   *********************/

.cronogram {
    margin: 0;
    padding: 0;
}

.escudoFix {
    width: 40px;

}

/*********** CONTACTO.HTML = ESTILO DEL FORMULARIO ****************/

.ms-5 {
    font-family: 'Fredoka One', cursive;
    color: darkblue;
}

.cajaTexto {
    width: 15px;
}

input {
    display: inline-block;
}

label {
    display: inline-block
}

.botonIcono {
    width: 4rem;
    text-decoration: none;
    color: white;
    background-color: darkblue;
    border: none;
}

.botonIcono:hover {
    background-color: red;
    color: blue;
    width: 3.8rem;
    transition: all 0.5s;
}


.borrarBoton {
    width: 2.5rem;

}

.encabezadoContact {
    font-size: 1.2rem;
}

.formularioCuervo {
    border: grey solid 2px;
}

/***********    MD PARA QUITAR MAPA DEL MAIN, PARA HACERLO RESPONSIVE.        **********************/
@media (max-width:768px) {
    .mapa {
        display: none;
    }

    .formulario {
        display: flex;
        justify-content: center;
    }

    .cuadroTexto {
        width: 100%;
    }
}
