@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fredoka+One&family=Lobster&display=swap");
.padreNav {
  background-color: darkblue;
}
.padreNav .padreDiv .navbar-brand {
  font-family: "Fredoka One", cursive;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.padreNav .padreDiv .navbar-brand:hover {
  background-color: red;
  transition: background-color 1s;
  color: darkblue;
}
.padreNav .padreDiv .botonCuervo {
  background-color: none;
  border: none;
}
.padreNav .padreDiv .logoCuervo {
  background-image: url(../img/cuervo.png);
  color: red;
  border: none;
  background-color: none;
}
.padreNav .padreDiv .hijoDiv .navegation {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  color: white;
}
.padreNav .padreDiv .hijoDiv .navegation:hover {
  background-color: red;
  transition: background-color 1s;
  color: darkblue;
}
.padreNav .padreDiv .hijoDiv .iconoBusqueda {
  color: white;
  font-family: "Anton", sans-serif;
  border: none;
  background: none;
}
.padreNav .padreDiv .hijoDiv .iconoBusqueda:hover {
  color: red;
  transition: background-color 1s;
}

/*MAIN INDEX*/
.informacionBlock .subtituloA {
  font-family: "Fredoka One", cursive;
}
.informacionBlock .seccionGoleadores .contenedorGoles tbody .logoTabla {
  width: 15px;
}

.informacionBlock .seccionDatos h2 {
  color: darkblue;
  font-family: "Fredoka One", cursive;
  text-transform: uppercase;
}
.informacionBlock .seccionDatos .listaDatos li {
  list-style-type: none;
}
.informacionBlock .seccionDatos .listaDatos li .iconoDatos {
  width: 2.5rem;
}
.informacionBlock .seccionDatos .listaDatos .textoDatos {
  font-size: 1.3rem;
  color: darkblue;
  font-family: "Fredoka One", cursive;
}
.informacionBlock .seccionDatos .listaDatos .datoNumerico {
  background-color: darkblue;
  border-radius: 50px;
  color: white;
  padding: 0;
}
.informacionBlock .fixture .imgFixture {
  width: 5rem;
}
.informacionBlock .textFixture .diaPartido .logoLiga {
  width: 1.5rem;
}
.informacionBlock .nameFixture {
  background-color: darkblue;
  color: white;
  text-transform: uppercase;
}
.informacionBlock .nameFixturedos {
  background-color: red;
  color: white;
  text-transform: uppercase;
  transform: rotate(5deg);
}

.seccionA .tituloPrincipal {
  color: red;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}
.seccionA .subtituloB {
  color: darkblue;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}

.seccionB .subtituloB {
  color: darkblue;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}

.tabla .seccionCalendario .tablaIndex tbody .logoTabla {
  width: 1rem;
}

/*PLANTEL*/
.bloquePrincipal .subtituloA {
  color: red;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}
.bloquePrincipal .subtituloB {
  color: darkblue;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}
.bloquePrincipal .subtituloC {
  color: red;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}
.bloquePrincipal .arqueros {
  margin: 0;
  padding: 0;
}
.bloquePrincipal .arqueros .player .fotoPlayer {
  max-width: 100%;
  height: auto;
}
.bloquePrincipal .arqueros .player .namePlayer {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  color: darkblue;
  text-transform: uppercase;
  color: darkblue;
  background-color: white;
}
.bloquePrincipal .defensores .player .fotoPlayer {
  width: 15rem;
}
.bloquePrincipal .defensores .player .namePlayer {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  color: darkblue;
  text-transform: uppercase;
}

.informacionBlock {
  background-color: white;
}
.informacionBlock .fixture {
  border-right: 1px rgb(189, 189, 189) solid;
}

/*FIXTURE*/
.bloquePrincipal .subA {
  color: darkblue;
}
.bloquePrincipal .subB {
  color: red;
  text-transform: uppercase;
}
.bloquePrincipal .subC {
  color: darkblue;
}
.bloquePrincipal .tablaFixture .tbodyFixture .escudoChico {
  width: 20px;
}

/*HISTORIA DEL CLUB*/
.informacionBlock .subtituloA {
  color: darkblue;
}
.informacionBlock .subtituloB {
  color: red;
}
.informacionBlock .subtituloD {
  color: darkblue;
}

/*CONTACTO*/
.formularioCuervo {
  border: 0.5rem solid darkblue;
}
.formularioCuervo .seccionFormulario .botonIcono {
  width: 4rem;
  text-decoration: none;
  color: white;
  background-color: darkblue;
  border: none;
  transform: scale(1);
  transition: transform 0.2s;
}
.formularioCuervo .seccionFormulario .botonIcono:active {
  transform: scale(0.9);
}
.formularioCuervo .seccionFormulario .botonIcono:active:hover {
  background-color: red;
  color: blue;
  transition: all 0.5s;
}

/*FOOTER*/
.pie {
  background-color: darkblue;
}
.pie h3 {
  color: white;
}
.pie .navRedes .itemRedes .logoRedes {
  width: 40px;
}

@media (max-width: 768px) {
  .item {
    display: none;
  }
  .itemDos {
    display: none;
  }
  .mapa {
    display: none;
  }
}
@media (max-width: 576px) {
  .itemTres {
    display: none;
  }
  .itemGol {
    display: none;
  }
  .tablaName {
    display: none;
  }
}

/*# sourceMappingURL=estilo.css.map */
