.pie {
    
    background-color: $colorB;

    h3 {
        color: white;
    }

    .navRedes {
        .itemRedes {
            .logoRedes {
                width: 40px;
            }
        }
    }
}