@import "variables", "footer", "header";
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka+One&family=Lobster&display=swap');



/*MAIN INDEX*/

.informacionBlock {
    .encabezado-a {
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
        color: $colorB;
    }

    .subtituloA {
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
        color: white;

        &:hover {
            background-color: $colorA;
            transition: background-color 1s;
            color: $colorB;
        }

        text-transform: uppercase;
        color: white;

        &:hover {
            background-color: $colorA;
            transition: background-color 1s;
            color: $colorB;
        }
    }

    .subtituloB {
        font-family: 'Fredoka One', cursive;
        color: $colorB;
    }


    .seccionGoleadores {
        .contenedorGoles {
            tbody {
                .logoTabla {
                    width: 15px;
                }
            }
        }
    }
}

.informacionBlock {


    .seccionDatos {
        h2 {
            color: $colorB;
            font-family: 'Fredoka One', cursive;
            text-transform: uppercase;
        }

        .listaDatos {

            li {
                list-style-type: none;

                .iconoDatos {
                    width: 2.5rem;
                }
            }

            .textoDatos {
                font-size: 1.3rem;
                color: $colorB;
                font-family: 'Fredoka One', cursive;

            }

            .datoNumerico {
                background-color: darkblue;
                border-radius: 50px;
                color: white;
                padding: 0;
            }
        }

    }

    .fixture {
        .imgFixture {
            width: 5rem;
        }
    }

    .textFixture {

        .diaPartido {
            .logoLiga {
                width: 1.5rem;
            }
        }
    }

    .nameFixture {
        background-color: darkblue;
        color: white;
        text-transform: uppercase;

    }

    .nameFixturedos {
        background-color: red;
        color: white;
        text-transform: uppercase;
        transform: rotate(5deg);
    }
}

.seccionA {
    .tituloPrincipal {
        color: $colorA;
        font-family: "Anton", sans-serif;
        text-transform: uppercase;
    }

    .subtituloB {
        color: $colorB;
        font-family: "Anton", sans-serif;
        text-transform: uppercase;
    }
}

.seccionB {
    .subtituloB {
        color: $colorB;
        font-family: 'Anton', sans-serif;
        text-transform: uppercase;
    }
}


.tabla {
    .seccionCalendario {
        .tablaIndex {
            tbody {
                .logoTabla {
                    width: 1rem;
                }
            }
        }
    }
}

/*PLANTEL*/

.bloquePrincipal {
    .subtituloA {
        color: $colorA;
        font-family: 'Anton', sans-serif;
        text-transform: uppercase;
    }

    .subtituloB {
        color: $colorB;
        font-family: 'Anton', sans-serif;
        text-transform: uppercase;
    }

    .subtituloC {
        color: $colorA;
        font-family: 'Anton', sans-serif;
        text-transform: uppercase;
    }

    .arqueros {

        margin: 0;
        padding: 0;

        .player {
            .fotoPlayer {
                max-width: 100%;
                height: auto;
            }

            .namePlayer {
                font-family: 'Anton', sans-serif;
                font-size: 1.2rem;
                color: $colorB;
                text-transform: uppercase;
                color: darkblue;
                background-color: white;

            }
        }
    }

    .defensores {
        .player {
            .fotoPlayer {
                width: 15rem;
            }

            .namePlayer {
                font-family: 'Anton', sans-serif;
                font-size: 1.2rem;
                color: $colorB;
                text-transform: uppercase;
            }
        }
    }
}

/*FIXTURE*/

.bloquePrincipal {
    .subA {
        color: $colorB;
    }

    .subB {
        color: $colorA;
        text-transform: uppercase;
    }

    .subC {
        color: $colorB;
    }

    .tablaFixture {
        .tbodyFixture {
            .escudoChico {
                width: 20px;
            }
        }
    }
}


/*HISTORIA DEL CLUB*/

.informacionBlock {
    .subtituloA {
        color: $colorB;
    }

    .subtituloB {
        color: $colorA;
    }

    .subtituloD {
        color: $colorB;
    }
}

/*CONTACTO*/

.formularioCuervo {
    border: 0.5rem solid darkblue;

    .seccionFormulario {
        .botonIcono {
            width: 4rem;
            text-decoration: none;
            color: white;
            background-color: darkblue;
            border: none;
            transform: scale(1);
            transition: transform 0.2s;

            &:active {
                transform: scale(0.9);

                &:hover {
                    background-color: red;
                    color: blue;
                    transition: all 0.5s;

                }
            }
        }
    }
}


@media (max-width:$medium) {
    .item {
        display: none;
    }

    .itemDos {
        display: none;
    }

    .mapa {
        display: none;
    }
}

@media (max-width:$small) {
    .itemTres {
        display: none;
    }

    .itemGol {
        display: none;
    }

    .tablaName {
        display: none;
    }
}

@media (max-width:$large) {
    .fixture {
        border-right: none;
    }
}